{% load static %}<div class="itcss__item"><img class="img-fluid" src="{% static '/starmap/img/1484764887168146401.jpg' %}" width="100%" height="100%" alt="Your advertisement could be here"></div>
<div class="itcss__item"><img class="img-fluid" src="{% static '/starmap/img/example.jpg' %}" width="100%" height="100%" alt="Your advertisement could be here"></div>
<div class="itcss__item"><img class="img-fluid" src="{% static '/starmap/img/Pop cat closed.ico' %}" width="100%" height="100%" alt="Your advertisement could be here"></div>
<div class="itcss__item"><img class="img-fluid" src="{% static '/starmap/img/Pop cat open.ico' %}" width="100%" height="100%" alt="Your advertisement could be here"></div>
